body, h2 {
    width: 100%;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}
h2 {
    font-weight: bold;
}
h5 {
    font-weight: bold;
}
.container {
    width: 100%;
}


/* NAV */
.navbar {
    background: white;
    width: 95%;
    margin: 0 auto;
    z-index: 999;
}
#nav-container {
    width: 100%;
    margin: 0 auto;
    display: table;
    position: fixed;
    z-index: 700;
    border-bottom: 1px solid black;
    background: white;
}


/* SEARCH */
.search-form {
    width: 30%;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    margin: 8px 40px 0 0;
    z-index: 999;
    padding-top: 10px;
}
.search-button {
    background-color: white;
    border: 1px solid black;
    float: right;
    color: black;
}
.search-input {
    width: 70%;
    float: right;
    border: 1px solid black;
}

/* HEADLINE */

.headline-left {
    background: green;
    /* linear-gradient(
        rgba(11, 29, 51, 0.65),
        rgba(11, 29, 51, 0.65)
      ),
      url('../images/cinnamon-roll.jpg'); */
    background-position: center;
    background-size: cover;
    height: 400px;
}
.headline-right {
    background: url('../images/spinach.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}
.section-title {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 55px;
    text-align: left;
    line-height: 1.1em;
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* COTNENT */

.page-container {
    width: 95%;
    margin: 0 auto;
    padding-top: 100px;
}

/* POP UP */

.popup-container {
    width: 100%;
    max-width: 600px;
    display: none;
}

/* SIDE BAR */

 #sidebar, .top {
     float: left;
     width: 100%;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
#sidebar, .top ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
#sidebar, .top ul li {
     border-top: 0.5px solid lightgray;
     padding: 10px 0 10px 0;
     font-size: 15px;
 }
#sidebar, .top ul li:nth-child(1){
     border: 0px;
     padding-top: 0px;

 }
#sidebar, .top ul li i {
     float: right;
     color: black;
     margin-top: 5px;
 }
#sidebar, .top h3 {
     border-top: 5px solid black;
     padding: 20px 0 15px 0;
     font-weight: 800;
     font-size: 20px;
     margin-top: 20px;
 }
#sidebar, .top h3:nth-child(1) {
     margin-top: 0px;
 }
#sidebar, .top p {
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 3px;
     font-weight: bold;
 }
 .staticSearch {
    font-weight: bold;
    cursor: pointer;
}

.staticSearch:hover {
    color: #2db34a;
}


.top.fixedsticky-on,
.bottom.fixedsticky-on {
	width: 21.09%;
}

#sidebar, .top {
	top: 100px; 
}

#top-a {
    top: 32px;
}

@media ( max-width: 25em ) {
	#top-a {
		height: 200px;
	}
}

 /* RECIPIE */

 #recipe {
     width: 100%;
 }
.recipe-item {
    float: left;
    display: table;
    border: 1px solid lightgray;
    margin: 5px;
    padding: 0;
    width: 32%;
 }

 .recipe-image {
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 200px;
     position: relative;
 }
 .recipe-item button {
     position: relative;
     bottom: 0;
     right: 0;
     padding: 9px 9px 9px 9px;
     color:black;
     background:white;
     height: 40px;
     width: 40px;
     border-radius: 50px;
     margin: 10px;
     border: none;
 }
.recipe-item button:hover {
    color: #d5c50b;
}
button.faved {
    color: #d5c50b;
    cursor: default;
}
.recipe-name {
    padding: 10px 0 0 10px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
}
.recipe-name:hover {
    color: #2db34a;
}
.recipe-rating {
    padding: 5px 0 0 10px;
    font-size: 15px;
}
.recipe-description {
    padding: 5px 0 10px 10px;
    font-size: 15px;
}
.navBtn {
    background: none;
    border: none;
    cursor: pointer;
}

p#no-results {
    width: 80%;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.mobile {
    display: none;
}
/* FAVORITES */

.fav-error p {
    line-height: 1.1em;
    width: 80%;
    margin-top: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.fav-error a {
    line-height: 1.1em;
    width: 60%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: green;
    font-size: 20px;
    text-align: center;
}

/* MAP */

object {
    width: 100%;
    height: 480px;
}

/* FOOTER */

.footer {
    background: green;
    width: 100%;
    color: white;
    margin-top: 30px;
}
.copyright {
    font-size: 12px;
}
 
@media screen and (max-width:1031px) {
    .recipe-item {
        float: left;
        display: table;
        border: 1px solid lightgray;
        margin: 5px;
        width: 48%;
    }
    .top.fixedsticky-on,
    .bottom.fixedsticky-on {
	    width: 20.65%;
    }
 }


 @media screen and (max-width:767px) {
     
    /* NAV Category Items */
    .mobile {
        display: inherit;
        border-bottom: 0.5px solid lightgray;
        padding: 5px 0 5px 0;
    }
    .mobile i {
        margin-left: 10px;
    }
    .mobile p {
        padding: 5px 0 5px 0;
        margin: 0;
    }
    .mobile-padding {
        padding-top: 5px;
    }
    /* SIDEBAR */
    #sidebar, .top {
        display: none;
    }

    /* SEARCH */
    .search-form {
        width: 100%;
        position: relative;
        z-index: 500;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .search-button {
        background-color: white;
        border: 1px solid black;
        display: inline-block;
        color: black;
    }
    .search-input {
        float: right;
        border: 1px solid black;
        display: inline-block;
        margin-right: 10px;
    }
    .fav-error {
        margin-bottom: 100px;
    }
    .fav-error p {
        width: 80%;
        margin-top: 60px;
        position: relative;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    .fav-error a {
        width: 80%;
        font-weight: bold;
        margin-top: 20px;
        color: green;
        font-size: 18px;
        text-align: center;
    }
    p#no-results {
        width: 80%;
        font-weight: bold;
        color: black;
        position: relative;
        margin-top: 30px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    #no-results {
        margin-bottom: 100px;
    }

}

 @media screen and (max-width:500px) {

    .col-12 {
        padding: 0;
    }

    .navbar-brand {
        text-align: center;
    }

    .recipe-item {
        float: none;
        display: table;
        border: 1px solid lightgray;
        margin: 5px;
        padding: 0;
        width: 100%;
    }

 }