
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}
h1.headline {
    font-size: 60px;
    font-weight: normal;
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin-top: 80px;
}
.container {
    width: 100%;
}

/* NAV */
.nav-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: table;
    position: fixed;
    z-index: 700;
    border-bottom: 2px solid black;
    background: white;
}
.navbar {
    width: 95%;
    margin: 0 auto;
}
.navbar-brand {
    font-weight: 900;
    text-transform: uppercase;
}

/* SEARCH */
.search-container {

}
.search-form {
    width: 50%;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    margin: 8px 40px 0 0;
    z-index: 999;
}
.search-button {
    background-color: white;
    border: 2px solid black;
    float: right;
    color: black;
}
.search-input {
    width: 70%;
    float: right;
    border: 2px solid black;
}

/* HEADLINE */

.headline-left {
    background: green;
    /* linear-gradient(
        rgba(11, 29, 51, 0.65),
        rgba(11, 29, 51, 0.65)
      ),
      url('../images/cinnamon-roll.jpg'); */
    background-position: center;
    background-size: cover;
    height: 400px;
}
.headline-right {
    background: url('../images/spinach.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}
.section-title {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 55px;
    text-align: left;
    line-height: 1.1em;
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* COTNENT */
.home-container {
    padding-top: 56px;
}
.page-container {
    width: 95%;
    margin: 0 auto;
    padding-top: 80px;
}

/* HOMEPAGE */
.circle-image {
    background: url('../images/table.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
h6.category-title {
    position: inherit;
    text-align: center;
    margin-top: 15px;
}

.popup-container {
    width: 100%;
    max-width: 600px;
    display: none;
}
#popup {
    height: 400px;
    position: fixed;
}
#popup img {
    width: 50px;
}
.popup-image {
    display: table;
    float: left;
    width: 50%;
}
.popup-content {
    display:table;
    float: right;
    width: 50%;
}
.ingredient-list {
    border-top: 0.5px solid lightgray;
    padding: 10px 0 0 0;
    font-size: 15px;
}



/* SIDE BAR */
.col-md-2 {
    padding: 0;
}
 .side-bar {
     height: 100%;
     width: 20%;
     float: left;
     position: fixed;
     overflow: auto;
 }
 .side-bar ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .side-bar ul li {
     border-top: 0.5px solid lightgray;
     padding: 10px 0 10px 0;
     font-size: 15px;
 }
 .side-bar ul li:nth-child(1){
     border: 0px;
     padding-top: 0px;

 }
 .side-bar ul li i {
     float: right;
     color: black;
 }
 .side-bar h3 {
     border-top: 5px solid black;
     padding: 20px 0 15px 0;
     font-weight: 900;
     font-size: 20px;
     margin-top: 20px;
 }
 .side-bar h3:nth-child(1) {
     margin-top: 0px;
 }
 .side-bar p {
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 3px;
     font-weight: bold;
 }

 /* RECIPIE */

 .padding-top {
    padding-top: 0px;
 }
 #recipe {
     width: 100%;
 }
.recipe-item {
     float: left;
     display: table;
     border: 1px solid lightgray;
     margin: 5px;
     padding: 0;
    width: 32%;
 }
 .recipe-item:nth-child(1) {
    margin: 0px 5px 5px 5px;
 }
 .recipe-item:nth-child(2) {
    margin: 0px 5px 5px 5px;
 }
 .recipe-item:nth-child(3) {
    margin: 0px 5px 5px 5px;
 }
.recipe-item:nth-child(4) {
    margin: 0px 5px 5px 5px;
}


 .recipe-image {
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 200px;
     position: relative;
 }
 .recipe-item button {
     position: relative;
     bottom: 0;
     right: 0;
     padding: 9px 9px 9px 9px;
     color:black;
     background:white;
     height: 40px;
     width: 40px;
     border-radius: 50px;
     margin: 10px;
     border: none;
 }

.recipe-item button:hover {
    color: #d5c50b;
}

button.faved {
    color: #d5c50b;
}

.recipe-name {
    padding: 10px 0 0 10px;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.recipe-name:hover {
    color: #2db34a;
}

.recipe-rating {
    padding: 5px 0 0 10px;
    font-size: 15px;
}
.recipe-description {
    padding: 5px 0 10px 10px;
    font-size: 15px;
}

.navBtn {
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:1031px) {
    .recipe-item {
        float: left;
        display: table;
        border: 1px solid lightgray;
        margin: 5px;
        width: 48%;
    }
 }
 
 @media screen and (max-width:767px) {
     
    /* SIDEBAR */
    .side-bar {
        display: none;
    }

    /* SEARCH */
    .search-container {
        width: 95%;
        margin-bottom: 20px;
    }
    .search-form {
        width: 100%;
        float: none;
        position: relative;
        margin: 0 auto;
        z-index: 500;
        
    }
    .search-button {
        background-color: white;
        border: 2px solid black;
        display: inline-block;
        color: black;
    }
    .search-input {
        float: right;
        border: 2px solid black;
        display: inline-block;
    }
 }

 @media screen and (max-width:500px) {

    .navbar-brand {
        text-align: center;
    }

    .recipe-item {
        float: none;
        display: table;
        border: 1px solid lightgray;
        margin: 5px;
        padding: 0;
        width: 100%;
    }

 }

